<html>
  {% include 'header.html' %}
  <body>
  	{% include 'navbar.html' %}
  	{% if activity %}
  		<h1>{{activity.name}}</h1>
  		<iframe src="https://www.mapchannels.com/routemaps3/map.htm?mode=2&route={{coordinate_str}}" width="100%" height="600px" style="padding:0px;border:solid 1px black" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" webkitallowfullscreen mozallowfullscreen allowfullscreen allowtransparency="true"></iframe>
			<br/><a target="_blank" href="https://www.mapchannels.com/AnimatedRouteMaps.aspx">Animated Route Maps</a>
  	{% endif %}
  </body>
</html>