<html>
{% include 'header.html' %}

<body>
	{% include 'navbar.html' %}
	<div class="container mt-4">
		{% if activity %}
		<div class="row">
			<div class="col-md-12">
				<h1 class="display-4">{{activity.name}}</h1>
				<p class="lead">Type: {{activity.type}}</p>
				<a class="d-block" href="https://strava.com/activities/{{ activity.id }}">View on Strava</a>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-md-12">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item"
						src="https://www.mapchannels.com/routemaps3/map.htm?mode=2&route={{coordinate_str}}"
						width="100%" height="600px" style="border:0;" allowfullscreen></iframe>
				</div>
			</div>
		</div>

		<div class="row mt-2">
			<div class="col-md-12">
				<a class="btn btn-secondary" target="_blank"
					href="https://www.mapchannels.com/AnimatedRouteMaps.aspx">Powered by from Animated Route Maps</a>
			</div>
		</div>
		{% endif %}
	</div>
</body>

</html>