<html>
  {% include 'header.html' %}
  <body>
  	{% include 'navbar.html' %}
    <div class="container mt-3">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-info" role="alert">
          {% for message in messages %}
            {{ message }}<br>
          {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      {% if not current_user.is_authenticated %}
        <p>
          <a class="btn btn-primary" href="{{ url_for('oauth2_authorize') }}">Login with Strava</a>
        </p>
      {% else %}
      	{% for activity in activities %}
			    <div class="col-md-12">
			        <div class="card h-20" onclick="handleClick('{{ activity.id }}')">
			            <div class="card-body">
			                <h5 class="card-title"><a href="{{ url_for('activity', activity_id=activity.id) }}">{{activity.name}}</a></h5>
			                <p class="card-text">Type: {{ activity.type }} <a href="https://strava.com/activities/{{activity.id}}">View on Strava</a></p>
			            </div>
			        </div>
			    </div>
		    {% endfor %}
      {% endif %}
    </div>
  </body>
</html>