<html>
  <head>
    {% include 'header.html' %}
    </head>
    
<body>
  {% include 'navbar.html' %}
  <div class="container mt-3">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info" role="alert">
      {% for message in messages %}
      {{ message }}<br>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% if not current_user.is_authenticated %}
    <div class="text-center">
      <a class="btn btn-primary" href="{{ url_for('oauth2_authorize') }}">Login with Strava</a>
    </div>
    {% else %}
    <ul class="list-group">
      {% for activity in activities %}
      <li class="list-group-item">
        <h5 class="mb-1">
          <a href="{{ url_for('activity', activity_id=activity.id) }}">{{ activity.name }}</a>
        </h5>
        <small>Type: {{ activity.type }}</small>
        <a class="d-block" href="https://strava.com/activities/{{ activity.id }}">View on Strava</a>
      </li>
      {% endfor %}
    </ul>
    <nav aria-label="Page navigation" class="mt-3">
      <ul class="pagination justify-content-center">
        {% if page > 1 %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('index', page=page-1) }}">Previous</a>
        </li>
        {% endif %}
        {% if activities|length == 30 %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('index', page=page+1) }}">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

  </div>

</body>

</html>